body {
    margin: 0;
    background-color: #1f2937;
    color: white;
    font-family: "Karla", sans-serif;
}
.content-wrapper{
    width: 90%;
    margin: 0 auto;
}
h1 {
    margin-top: 80px;
}
h1 span {
    color: #4adf86;
}
.gen-btn{
    padding-bottom: 20px;
    border-bottom: 1px solid #2f3e53;
}
button{
    background-color: #4adf86;
    color: white;
    padding: 9px 15px;
    border-radius: 6px;
}
.input {
    padding-top: 20px;
}
#random-one, #random-two{
    background-color: #273549;
    border-style: none;
    border-radius: 6px;
    height: 25px;
    text-align: center;
    color: #55f991;
    margin-right: 10px;
}
